<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home work 7 task 1. Work with arrays</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Home work 7 task 1</h1>
<h2 th:text="'Source array: ' + ${myArray}"></h2>
<p th:text="'Max value in array = '+${maxValue}"></p>
<p th:text="'Min value in array = '+${minValue}"></p>
<p th:text="'Index maximal element in array = '+${indexOfMax}"></p>
<p th:text="'Index minimal element in array = '+${indexOfMin}"></p>
<p th:text="'Index element -2 in array = '+${indexOf}"></p>

</body>
</html>